.projects-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 50;

  padding: 0;
  background-color: #000;
  height: 70px;
  box-sizing: border-box;
}

.project-status {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #a8a8a8;
}

.dot {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #26ff1f;
  border-radius: 50%;
  margin-right: 0.5rem;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/* --- Work Content Wrapper --- */
.work-content {
  list-style: none;
  padding: 0;
  margin: 0;
  /* padding-bottom: 1rem; */
}

/* --- Card Styling --- */
.card {
  position: sticky;
  top: 0;

  margin-bottom: 5vh;

  width: 100%;
  transform-origin: center top;
  transition: transform 0.5s ease;
}

.card__body {
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);

  height: 80vh;
  min-height: 400px;

  color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.card__top {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.card__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.card__head h1 {
  font-size: 2.5rem;
  margin: 0;
  line-height: 1.1;
}

.card__stat {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
}

.card__img {
  width: 100%;
  flex: 1;
  height: 0;
  min-height: 150px;

  border-radius: 1rem;
  object-fit: cover;
}

/* --- Responsive --- */
@media screen and (max-height: 700px) {
  .card__head h1 {
    font-size: 1.8rem;
  }
  .card__description-text {
    font-size: 0.8rem;
  }
  .card__stat {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .card__stat {
    grid-template-columns: 1fr;
  }

  .section-title {
    font-size: 1.8rem;
  }
}
